# ----- Optional or have default values on docker-compose -----

PG_IDENTITY_DATABASE=
PG_IDENTITY_USER=
PG_IDENTITY_PASSWORD=

PG_PRODUCT_DATABASE=
PG_PRODUCT_USER=
PG_PRODUCT_PASSWORD=

PG_ORDER_DATABASE=
PG_ORDER_USER=
PG_ORDER_PASSWORD=

PG_NOTIFICATION_DATABASE=
PG_NOTIFICATION_USER=
PG_NOTIFICATION_PASSWORD=

PG_PAYMENT_DATABASE=
PG_PAYMENT_USER=
PG_PAYMENT_PASSWORD=

RABBITMQ_USER=
RABBITMQ_PASSWORD=

GRAFANA_USER=
GRAFANA_PASSWORD=

GRAFANA_SMTP_GMAIL=
GRAFANA_SMTP_PASSWORD=

# ----- Mandatory -----

# For embedding:
OPENAI_API_KEY=

# For geolocation:
GRAPH_HOPPER_API_KEY=