PG_IDENTITY_DATABASE=
PG_IDENTITY_USER=
PG_IDENTITY_PASSWORD=

PG_PRODUCT_DATABASE=
PG_PRODUCT_USER=
PG_PRODUCT_PASSWORD=

PG_ORDER_DATABASE=
PG_ORDER_USER=
PG_ORDER_PASSWORD=

PG_NOTIFICATION_DATABASE=
PG_NOTIFICATION_USER=
PG_NOTIFICATION_PASSWORD=
